{
  auto_https disable_redirects
}

{$APP_DOMAIN} {
  encode zstd gzip

  @api path /health /ws /auth* /seller* /shifts* /admin*
  handle @api {
    reverse_proxy backend:4000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}

http://{$DB_DOMAIN}, https://{$DB_DOMAIN} {
  encode zstd gzip

  basic_auth {
    {$DB_BASIC_AUTH_USER} {$DB_BASIC_AUTH_PASSWORD_HASH}
  }

  reverse_proxy cloudbeaver:8978
}

:80 {
  encode zstd gzip

  @api path /health /ws /auth* /seller* /shifts* /admin*
  handle @api {
    reverse_proxy backend:4000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
