{
  auto_https disable_redirects
}

{$APP_DOMAIN} {
  encode zstd gzip

  @api path /health /ws /auth* /seller* /shifts* /admin*
  handle @api {
    reverse_proxy backend:4000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}

:80 {
  encode zstd gzip

  @api path /health /ws /auth* /seller* /shifts* /admin*
  handle @api {
    reverse_proxy backend:4000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
